<h1>Aqui podés tweetear!</h1>

<%= form_for @tweet do |f| %>

  <% if @tweet.errors.any? %>
    Hay errores al crear el tweet.
    <ul>
    <% @tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>

  <%= f.label :message %>
  <%= f.text_area :message %>

  <%= f.label :asset %>
  <%= f.file_field :asset %>

  <%= f.submit %>

<% end %>
